<div class="block_price-list_block">
    <div class="block_price-list_block_left">
        <div class="block_price-list_block_title"></div>
        <div class="block_price-list_block_text"></div>
        <div class="block_price-list_block_price"></div>
    </div>
    <div class="block_price-list_block_right">
        <img src="../../images/price-list-img-<%=id%>.png" alt="">
    </div>
</div>