<div class="block_about-team">
    <div class="band">
        <div class="block_about-team_title">Наша команда</div>
        <div class="block_about-team_blocks">
            <div class="block_about-team_blocks_line">
                <div class="block_about-team_block block-left-1">
                    <div class="block_about-team_block_title">
                        Руководитель отдела <br> продаж
                    </div>
                    <div class="block_about-team_block_img">
                        <img src="../images/worker-1.png" alt="">
                    </div>
                    <div class="block_about-team_block_text">
                        <span>Данные:</span>
                        <ul>
                            <li>ФИО: Самойленко М.А</li>
                            <li>Пол: М</li>
                            <li>Возраст: 20</li>
                            <li>Стаж: 10 лет</li>
                        </ul>
                        <span>Обязаности:</span>
                        <ul>
                            <li>Организация продаж соответствующей продукции</li>
                            <li>Разработка планов и прогнозов по соответствующим товарным группам</li>
                            <li>Организация эффективного рабочего процесса подчиненных работников</li>
                            <li>И.Т.Д</li>
                        </ul>
                    </div>
                </div>
                <div class="block_about-team_block block-center-1">
                    <div class="block_about-team_block_title">
                        Руководитель отдела <br> планирования
                    </div>
                    <div class="block_about-team_block_img">
                        <img src="../images/worker-2.png" alt="">
                    </div>
                    <div class="block_about-team_block_text">
                        <span>Данные:</span>
                        <ul>
                            <li>ФИО: Мандал Д.Т</li>
                            <li>Пол: М</li>
                            <li>Возраст: 20</li>
                            <li>Стаж: 15 лет</li>
                        </ul>
                        <span>Обязаности:</span>
                        <ul>
                            <li>Разработка соглашения относительно поставок продукции предприятия или оказания услуг и заключать их.</li>
                            <li>Участвование в определении направления развития компании.</li>
                            <li>Слежка за формированием бизнес-плана фирмы.</li>
                            <li>Доводить разработанные проекты до руководителей других отделов компании.</li>
                            <li>И.Т.Д</li>
                        </ul>
                    </div>
                </div>
                <div class="block_about-team_block block-right-1">
                    <div class="block_about-team_block_title">
                        Руководитель отдела <br> рекламы
                    </div>
                    <div class="block_about-team_block_img">
                        <img src="../images/worker-3.png" alt="">
                    </div>
                    <div class="block_about-team_block_text">
                        <span>Данные:</span>
                        <ul>
                            <li>ФИО: Скребнев А.А</li>
                            <li>Пол: М</li>
                            <li>Возраст: 20</li>
                            <li>Стаж: 1 год</li>
                        </ul>
                        <span>Обязаности:</span>
                        <ul>
                            <li>Осуществление разработки маркетинговой политики</li>
                            <li>Обеспечивание участия отдела в составлении перспективных и текущих планов производства и реализации продукции</li>
                            <li>Руководство проведением исследований основных факторов, формирующих динамику потребительского спроса на продукцию</li>
                            <li>И.Т.Д</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="block_about-team_blocks_line">
                <div class="block_about-team_block block-left-1">
                    <div class="block_about-team_block_title">
                        Руководитель отдела <br> закупок туров
                    </div>
                    <div class="block_about-team_block_img">
                        <img src="../images/worker-4.jpg" alt="">
                    </div>
                    <div class="block_about-team_block_text">
                        <span>Данные:</span>
                        <ul>
                            <li>ФИО: Баринов И.А</li>
                            <li>Пол: М</li>
                            <li>Возраст: 25</li>
                            <li>Стаж: 10 лет</li>
                        </ul>
                        <span>Обязаности:</span>
                        <ul>
                            <li>Организация продаж соответствующей продукции</li>
                            <li>Разработка планов и прогнозов по соответствующим товарным группам</li>
                            <li>Организация эффективного рабочего процесса подчиненных работников</li>
                            <li>И.Т.Д</li>
                        </ul>
                    </div>
                </div>
                <div class="block_about-team_block block-center-1">
                    <div class="block_about-team_block_title">
                        Руководитель отдела <br> планирования
                    </div>
                    <div class="block_about-team_block_img">
                        <img src="../images/worker-5.png" alt="">
                    </div>
                    <div class="block_about-team_block_text">
                        <span>Данные:</span>
                        <ul>
                            <li>ФИО: Мандал Д.Т</li>
                            <li>Пол: М</li>
                            <li>Возраст: 20</li>
                            <li>Стаж: 15 лет</li>
                        </ul>
                        <span>Обязаности:</span>
                        <ul>
                            <li>Разработка соглашения относительно поставок продукции предприятия или оказания услуг и заключать их.</li>
                            <li>Участвование в определении направления развития компании.</li>
                            <li>Слежка за формированием бизнес-плана фирмы.</li>
                            <li>Доводить разработанные проекты до руководителей других отделов компании.</li>
                            <li>И.Т.Д</li>
                        </ul>
                    </div>
                </div>
                <div class="block_about-team_block block-right-1">
                    <div class="block_about-team_block_title">
                        Руководитель отдела <br> по работе с клиентами
                    </div>
                    <div class="block_about-team_block_img">
                        <img src="../images/worker-6.png" alt="">
                    </div>
                    <div class="block_about-team_block_text">
                        <span>Данные:</span>
                        <ul>
                            <li>ФИО: Николаев Н.Н</li>
                            <li>Пол: М</li>
                            <li>Возраст: 20</li>
                            <li>Стаж: 1 год</li>
                        </ul>
                        <span>Обязаности:</span>
                        <ul>
                            <li>Осуществление разработки маркетинговой политики</li>
                            <li>Обеспечивание участия отдела в составлении перспективных и текущих планов производства и реализации продукции</li>
                            <li>Руководство проведением исследований основных факторов, формирующих динамику потребительского спроса на продукцию</li>
                            <li>И.Т.Д</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>