<div class="block_about">
    <div class="band">
        <div class="block_about_left">
            <img src="" alt="">
        </div>
        <div class="block_about_right">
            <div class="block_about_title">Кто мы?</div>
            <div class="block_about_description">
                Описание нашей компании....
            </div></div>
    </div>
</div>