<div class="block_about_company">
    <div class="band">
        <div class="block_about_company_title">ООО "Моя IT-Компания"<br> <span>сделаем вашу систему идеальлной</span></div>
        <!--<div class="block_about_company_inputs">
            <div class="block_about_company_inputs_name block-left-1">
                <input type="text" id="input_name" placeholder="Имя">
            </div>
            <div class="block_about_company_inputs_phone block-center-1">
                <input type="text" id="input_phone" placeholder="Телефон">
            </div>
            <div class="block_about_company_inputs_btn block-right-1">
                <button>
                    Отправить заявку
                </button>
            </div>
        </div>-->
        <div class="block_about_company_blocks">
            <div class="block_about_company_block block_about_company_block_1 block-left-1">
                <div class="block_about_company_block_img">
                    <img src="../images/icons/money-icon.svg" alt="">
                </div>
                <div class="block_about_company_block_text">
                    Самые низкие цены на рынке
                </div>
            </div>
            <div class="block_about_company_block block_about_company_block_2 block-center-1">
                <div class="block_about_company_block_img">
                    <img src="../images/icons/dogovor.svg" alt="">
                </div>
                <div class="block_about_company_block_text">
                    Оперативный ответ на заявки <br> не более 10 минут
                </div>
            </div>
            <div class="block_about_company_block block_about_company_block_3 block-right-1">
                <div class="block_about_company_block_img">
                    <img src="../images/icons/рудз.svg" alt="">
                </div>
                <div class="block_about_company_block_text">
                    Выполняем работу с любым оборудывание и программным обеспечением
                </div>
            </div>
            <div class="block_about_company_block block_about_company_block_3 block-right-1">
                <div class="block_about_company_block_img">
                    <img src="../images/icons/support_icon.svg" alt="">
                </div>
                <div class="block_about_company_block_text">
                    Тех. поддержка 24*7
                </div>
            </div>
        </div>
    </div>
</div>