<div class="block_clients">
    <div class="band">
        <div class="block_clients_title">Наши партнёры</div>
        <div class="block_clients_blocks">
            <div class="block_clients_block block-left-1">
                <div class="block_clients_block_img">
                    <img src="../images/tez-tour.png" alt="">
                </div>
            </div>
            <div class="block_clients_block block-center-1">
                <div class="block_clients_block_img">
                    <img src="../images/pegas.png" alt="">
                </div>
            </div>
            <div class="block_clients_block block-center-1">
                <div class="block_clients_block_img">
                    <img src="../images/aeroflot.png" alt="">
                </div>
            </div>
            <div class="block_clients_block block-right-1">
                <div class="block_clients_block_img">
                    <img src="../images/turkish.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>