<div class="footer">
    <div class="band">
        <div class="footer_left">
            <div class="footer_left_logo">
                <img src="../images/icons/logo.svg" alt="logo">
                <div class="footer_left_text">ООО "Моя IT-Компания"</div>
            </div>
            <div class="footer_left_contacts">
                <div class="footer_left_contacts_email block-left-1">
                    <a href="mailto:myIt_company@gmail.com">e-mail <span>myIt_company@gmail.com</span></a>
                </div>
                <div class="footer_left_contacts_phone block-right-1">
                    <a class="" href="tel:89054567890">
                        Без выходных с 8:00 до 22:00
                        <span>+7(905) 456-78-90</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer_right">
            <div class="footer_right_data">
                <div class="block-left-1">ИНН: 0490885456</div>
                <div>ОГРН: 1234567891011</div>
                <div></div>
            </div>
            <div class="footer_right_btn">
                <button
                        id="goto_form_3"
                        data-title="Заказ из подвала"
                        data-button="Заказ из подвала"
                >
                    Закажите путёвку
                </button>
            </div>
        </div>
    </div>
</div>