<!--<nav class="black" role="navigation">
    <div class="nav-wrapper container">
      <img class="logo-main" src="goash-newLogo.svg" alt="logo" height="100%">
      
      <a id="logo-container" href="#" class="brand-logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>-->
<div class="block_navigation">
  <div class="band">
    <div class="block_navigation_left">
      <div class="block_navigation_left_logo">
        <img src="../images/icons/logo.svg" alt="logo">
      </div>
      <div class="block_navigation_left_text">ООО "Моя IT-Компания"</div>
    </div>
    <div class="block_navigation_right">
      <div class="block_navigation_right_text">Работаем без выходных <br> c 8:00 до 22:00</div>
      <div class="block_navigation_right_btn">
        <button
        id="goto_form_1"
        data-title="Заказ звонка из шапки"
        data-button="Заказ звонка из шапки"
        >
          Закажите путёвку
        </button>
      </div>
    </div>
  </div>
</div>


