<div class="block_price-list">
    <div class="band">
        <div class="block_price-list_title">Наши услуги!</div>
        <div class="block_price-list_blocks">
           <div class="block_price-list_block mb-1">
               <div class="block_price-list_block_left">
                   <div class="block_price-list_block_title">
                       Работаем с вашим Аппаратным обеспечением.
                   </div>
                   <div class="block_price-list_block_text">
                       Работа с АО является одной из самых важных в компании, ведь правильно настроенный компьютер это уже пол-дела.
                       <br>
                       <b>Сюда входят следющие услуги:</b>
                       <ul>
                           <li>Переустановка ОС(Windows, Linux, MacOS)</li>
                           <li>Очистка системы от вирусов</li>
                           <li>Устранение технических неполадок вашего ПК(замена комплектующих входит в услугу)</li>
                           <li>Работа с серверами(Импорт и Экспорт данных)</li>
                       </ul>
                   </div>
                   <div class="block_price-list_block_btn">
                       <button
                               id="goto_form_2_1"
                               data-title="Заказ работ с AО"
                               data-button="Заказ горячей путёвки"
                       >
                        Заказать
                       </button>
                   </div>
               </div>
               <div class="block_price-list_block_right">
                   <div class="block_price-list_block_img">
                       <img src="../images/price-list-img-1.png" alt="">
                   </div>
               </div>
           </div>
            <div class="block_price-list_block mb-1">
                <div class="block_price-list_block_right">
                    <div class="block_price-list_block_img img_grid">
                        <div class="block_price-list_block_img_1">
                            <img src="../images/AmoCRM.png" alt="">
                        </div>
                        <div class="block_price-list_block_img_2">
                            <img src="../images/Calltouch.png" alt="">
                        </div>
                        <div class="block_price-list_block_img_3">
                            <img src="../images/1С_1.png" alt=""></div>
                        <div class="block_price-list_block_img_4">
                            <img src="../images/1С_2.jpg" alt=""></div>
                        <div class="block_price-list_block_img_5">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
                <div class="block_price-list_block_left">
                    <div class="block_price-list_block_title">
                        Работаем с вашим Программным обеспечением.
                    </div>
                    <div class="block_price-list_block_text">
                        Работа с ПО также является неотъемлемой частью в любой компании, ведь чем лучше ПО тем более комфортно работать.
                        <br>
                        <b>Сюда входят следющие услуги:</b>
                        <ul>
                            <li>Установка и настройка необходимого ПО(AmoCrm, 1C:Бухгалтерия,1С:Турагентсво, Calltouch и.т.д)</li>
                            <li>Создание шаблонов отчетов в 1C:Бухгалтерии и 1С:Турагентсво</li>
                            <li>Внедрение Calltouch в ваш IT-проект</li>
                        </ul>
                    </div>
                    <div class="block_price-list_block_btn">
                        <button
                                id="goto_form_2_2"
                                data-title="Заказ работ с ПО"
                                data-button="Заказ горячей путёвки"
                        >
                            Заказать
                        </button>
                    </div>
                </div>
            </div>
            <div class="block_price-list_block mb-1">
                <div class="block_price-list_block_left">
                    <div class="block_price-list_block_title">
                        Работа с оффисными приложениями
                    </div>
                    <div class="block_price-list_block_text">
                        Microsoft Office крепко осела на рынке оффисных приложений и правильная настройка их сильно ускоряет процесс работы.
                        <br>
                        <b>Сюда входят следющие услуги:</b>
                        <ul>
                            <li>Установка оффисных приложений(Word, PowerPoint,Exel и.т.д)</li>
                            <li>Формирование шаблонов документов</li>
                            <li>Формирование отчётностей в Exel</li>
                        </ul>
                    </div>
                    <div class="block_price-list_block_btn">
                        <button
                                id="goto_form_2_3"
                                data-title="Заказ работ с Microsoft Office"
                                data-button="Заказ горячей путёвки"
                        >
                            Заказать
                        </button>
                    </div>
                </div>
                <div class="block_price-list_block_right">
                    <div class="block_price-list_block_img img_grid">
                        <div class="block_price-list_block_img_1">
                            <img src="../images/AmoCRM.png" alt="">
                        </div>
                        <div class="block_price-list_block_img_2">
                            <img src="../images/Calltouch.png" alt="">
                        </div>
                        <div class="block_price-list_block_img_3">
                            <img src="../images/1С_1.png" alt=""></div>
                        <div class="block_price-list_block_img_4">
                            <img src="../images/1С_2.jpg" alt=""></div>
                        <div class="block_price-list_block_img_5">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>