<div class="block_why-we">
    <div class="band">
        <div class="block_why-we_title">
            Почему мы?
        </div>
        <div class="block_why-we_blocks">
            <div class="block_why-we_block block-left-1">
                <div class="block_why-we_block_img">
                    <img src="" alt="">
                </div>
                <div class="block_why-we_block_text"></div>
            </div>
            <div class="block_why-we_block block-center-1">
                <div class="block_why-we_block_img">
                    <img src="" alt="">
                </div>
                <div class="block_why-we_block_text"></div>
            </div>
            <div class="block_why-we_block block-right-1">
                <div class="block_why-we_block_img">
                    <img src="" alt="">
                </div>
                <div class="block_why-we_block_text"></div>
            </div>
        </div>
    </div>
</div>